<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CSGO Item Price</title>
	<script src="https://cdn.staticfile.org/vue/3.2.33/vue.global.prod.js"></script>
	<link href="https://unpkg.com/daisyui@2.15.2/dist/full.css" rel="stylesheet" type="text/css" />
	<link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<script>
		var currencyStr = {
			'NZD': '新西兰元',
			'PLN': '波兰兹罗提',
			'SGD': '新加坡元',
			'INR': '印度卢比',
			'USD': '美元',
			'UAH': '乌克兰格里夫纳',
			'CRC': '哥斯达黎加科朗',
			'EUR': '欧元',
			'KWD': '科威特第纳尔',
			'RUB': '卢布',
			'MYR': '马来西亚林吉特',
			'QAR': '卡塔尔里亚尔',
			'BRL': '巴西雷亚尔',
			'CNY': '人民币',
			'CHF': '瑞士法郎',
			'KRW': '韩元',
			'COP': '哥伦比亚比索',
			'CAD': '加拿大元',
			'UYU': '乌拉圭比索',
			'PEN': '秘鲁索尔',
			'SAR': '沙特里亚尔',
			'IDR': '印尼卢比',
			'NOK': '挪威克朗',
			'CLP': '智利比索',
			'ZAR': '南非兰特',
			'THB': '泰铢',
			'GBP': '英镑',
			'HKD': '港元',
			'AUD': '澳元',
			'ARS': '阿根廷比索',
			'AED': '阿联酋迪拉姆',
			'ILS': '以色列新锡克尔',
			'PHP': '菲律宾比索',
			'TWD': '新台币',
			'TRY': '土耳其里拉',
			'KZT': '哈萨克斯坦坚戈',
			'MXN': '墨西哥比索',
			'VND': '越南东',
			'JPY': '日元'
		}
		var init = async function () {
			// var schema = await fetch('/api/?mod=schema').then(res => res.json());
			// var price = await fetch('/api/?mod=price').then(res => res.json());
			var schema = await fetch('/api/schema').then(res => res.json());
			var price = await fetch('/api/price').then(res => res.json());
			var rate = await fetch('https://api.augmentedsteam.com/v01/rates/?to=CNY').then(res => res.json());
			var items = {};
			schema.result.items.forEach(item => {
				items[item.defindex] = item;
			});
			var data = [];
			price.result.assets.forEach(asset => {
				var tdata = {};
				tdata['defindex'] = asset.name;
				tdata['date'] = asset.date;
				tdata['prices'] = {};
				tdata['prices_list'] = [];
				for (let currency in asset.prices) {
					if (asset.prices[currency] != 0) {
						tdata['prices'][currency] = asset.prices[currency];
						tdata['prices_list'].push({
							'currency': currency,
							'original': asset.prices[currency],
							'transformed': asset.prices[currency] * rate.data[currency].CNY
						});
					}
				}
				tdata['prices_list'].sort(function (a, b) {
					return a.transformed - b.transformed
				});
				tdata['classid'] = asset.classid;
				tdata['image'] = items[asset.name].image_url.replace('"steamcdn-a.akamaihd.net',
					'media.st.dl.pinyuncloud.com');
				tdata['name'] = items[asset.name].item_name;
				tdata['type'] = items[asset.name].item_type_name;
				tdata['description'] = items[asset.name].item_description;
				data.push(tdata);
			});
			delete schema, price, items, qualities;
			var app = Vue.createApp({
				data() {
					return {
						data: data,
						modal: {},
						currencyStr: currencyStr
					}
				},
				methods: {
					updateModal(item) {
						this.modal = item;
					}
				}
			});
			app.mount('#main_area');
			document.querySelector('#load').style.display = 'none';
			delete app;
		};
		init();
	</script>
	<div class="sticky navbar bg-base-100 bg-primary w-full top-0 z-30 bg-opacity-70 backdrop-blur"
		style="margin: 0 auto;">
		<a class="btn btn-ghost normal-case text-xl">CSGO Item Price</a>
	</div>
	<div id="main_area" class="flex">
		<div class="overflow-x-auto w-full" style="margin: 0 auto;">
			<table class="table table-compact w-full">
				<thead>
					<tr>
						<th style="position: initial;">名称</th>
						<th>价格</th>
						<th>ClassID</th>
						<th>日期</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in data">
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div class="mask mask-squircle w-12 h-12">
										<img :src="`${item.image}`" alt="" />
									</div>
								</div>
								<div>
									<div class="font-bold">{{ item.name }}</div>
									<div class="text-sm opacity-50">{{ item.type }}</div>
								</div>
							</div>
						</td>
						<td>
							￥ {{ (item.prices.CNY / 100).toFixed(2) }}
						</td>
						<td>
							{{ item.classid }}
							<br>
							<span class="badge badge-ghost badge-sm">defindex: {{ item.defindex }}</span>
						</td>
						<td>{{ item.date }}</td>
						<th>
							<label for="modal-detail" @click="updateModal(item)"
								class="btn btn-primary btn-xs">查看详情</label>
						</th>
					</tr>
				</tbody>
			</table>
		</div>
		<input type="checkbox" id="modal-detail" class="modal-toggle" />
		<label id="modal" for="modal-detail" class="modal cursor-pointer">
			<label class="modal-box relative" for="">
				<h3 class="font-bold text-lg">{{ modal.name }}</h3>
				<img :src="`${modal.image}`" style="width: 68px;" />
				<p class="py-4">
					ClassID: {{ modal.classid }}<br>
					DefIndex: {{ modal.defindex }}<br>
					日期: {{ modal.date }}<br>
					类型: {{ modal.type }}<br>
					描述: {{ modal.description }}<br>
				</p>
				<table class="table table-compact w-full">
					<thead>
						<tr>
							<th>货币</th>
							<th>价格</th>
							<th>转换后</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="rate in modal.prices_list">
							<td>
								{{ currencyStr[rate.currency] }}
							</td>
							<td>
								{{ (rate.original / 100).toFixed(2) }}
							</td>
							<td>
								￥ {{ (rate.transformed / 100).toFixed(2) }}
							</td>
						</tr>
					</tbody>
				</table>
			</label>
		</label>
	</div>
	<div id="load" class="hero min-h-screen bg-base-200" style="position: absolute; top: 0; left: 0; z-index: 9999;">
		<div class="hero-content text-center">
			<div class="max-w-md">
				<h1 class="text-5xl font-bold">加载中……</h1>
			</div>
		</div>
	</div>
</body>

</html>