<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CSGO Item Price</title>
	<script src="https://cdn.staticfile.org/vue/3.2.33/vue.global.prod.js"></script>
	<link href="https://unpkg.com/daisyui@2.15.2/dist/full.css" rel="stylesheet" type="text/css" />
	<link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<script>
		var currencyStr = {
			'NZD': '新西兰元',
			'PLN': '波兰兹罗提',
			'SGD': '新加坡元',
			'INR': '印度卢比',
			'USD': '美元',
			'UAH': '乌克兰格里夫纳',
			'CRC': '哥斯达黎加科朗',
			'EUR': '欧元',
			'KWD': '科威特第纳尔',
			'RUB': '卢布',
			'MYR': '马来西亚林吉特',
			'QAR': '卡塔尔里亚尔',
			'BRL': '巴西雷亚尔',
			'CNY': '人民币',
			'CHF': '瑞士法郎',
			'KRW': '韩元',
			'COP': '哥伦比亚比索',
			'CAD': '加拿大元',
			'UYU': '乌拉圭比索',
			'PEN': '秘鲁索尔',
			'SAR': '沙特里亚尔',
			'IDR': '印尼卢比',
			'NOK': '挪威克朗',
			'CLP': '智利比索',
			'ZAR': '南非兰特',
			'THB': '泰铢',
			'GBP': '英镑',
			'HKD': '港元',
			'AUD': '澳元',
			'ARS': '阿根廷比索',
			'AED': '阿联酋迪拉姆',
			'ILS': '以色列新锡克尔',
			'PHP': '菲律宾比索',
			'TWD': '新台币',
			'TRY': '土耳其里拉',
			'KZT': '哈萨克斯坦坚戈',
			'MXN': '墨西哥比索',
			'VND': '越南东',
			'JPY': '日元'
		};
		if (localStorage.getItem('night') == 'dark') { document.querySelector('html').setAttribute('data-theme', 'dark'); }
		var toggleNight = function () {
			var night = localStorage.getItem('night') == 'dark' ? 'light' : 'dark';
			document.querySelector('html').setAttribute('data-theme', night);
			localStorage.setItem('night', night);
		}
		var init = async function () {
			if (location.href.indexOf('127.0.0.1') < 0 && location.href.indexOf('localhost') < 0) {
				var schema = await fetch('/api/schema').then(res => res.json());
				var price = await fetch('/api/price').then(res => res.json());
			} else {
				var schema = await fetch('/api/?mod=schema').then(res => res.json());
				var price = await fetch('/api/?mod=price').then(res => res.json());
			}
			var rate = await fetch('https://api.augmentedsteam.com/v01/rates/?to=CNY').then(res => res.json());
			var items = {};
			schema.result.items.forEach(item => {
				items[item.defindex] = item;
			});
			var data = [];
			price.result.assets.forEach((asset, index) => {
				var tdata = {};
				tdata['index'] = index;
				tdata['defindex'] = asset.name;
				tdata['date'] = asset.date.replace(/\//gi, '-');
				tdata['prices'] = {};
				tdata['prices_list'] = [];
				for (let currency in asset.prices) {
					if (asset.prices[currency] != 0) {
						tdata['prices'][currency] = asset.prices[currency];
						tdata['prices_list'].push({
							'currency': currency,
							'original': asset.prices[currency],
							'transformed': asset.prices[currency] * rate.data[currency].CNY
						});
					}
				}
				tdata['prices_list'].sort(function (a, b) { return a.transformed - b.transformed });
				tdata['classid'] = asset.classid;
				tdata['image'] = items[asset.name].image_url.replace('"steamcdn-a.akamaihd.net',
					'media.st.dl.pinyuncloud.com');
				tdata['name'] = items[asset.name].item_name;
				tdata['type'] = items[asset.name].item_type_name;
				tdata['description'] = items[asset.name].item_description;
				data.push(tdata);
			});
			delete schema, price, items;
			var app = Vue.createApp({
				data() {
					return {
						data: data,
						modal: {},
						currencyStr: currencyStr,
						indexSort: true,
						priceSort: false,
						defSort: false,
						timeSort: false
					}
				},
				methods: {
					updateModal(item) {
						this.modal = item;
					},
					resetSort(name, value) {
						this.indexSort = false;
						this.priceSort = false;
						this.defSort = false;
						this.timeSort = false;
						this[name+'Sort'] = value;
					},
					sortIndex() {
						if (this.indexSort) {
							this.data.sort(function (a, b) { return b.index - a.index });
						} else {
							this.data.sort(function (a, b) { return a.index - b.index });
						}
						this.resetSort('index', !this.indexSort);
					},
					sortPrice() {
						if (this.priceSort) {
							this.data.sort(function (a, b) { return b.prices.CNY - a.prices.CNY; });
						} else {
							this.data.sort(function (a, b) { return a.prices.CNY - b.prices.CNY; });
						}
						this.resetSort('price', !this.priceSort);
					},
					sortDef() {
						if (this.defSort) {
							this.data.sort(function (a, b) { return b.defindex - a.defindex; });
						} else {
							this.data.sort(function (a, b) { return a.defindex - b.defindex; });
						}
						this.resetSort('def', !this.defSort);
					},
					sortTime() {
						if (this.timeSort) {
							this.data.sort(function (a, b) { return (new Date(b.date)).getTime() - (new Date(a.date)).getTime(); });
						} else {
							this.data.sort(function (a, b) { return (new Date(a.date)).getTime() - (new Date(b.date)).getTime(); });
						}
						this.resetSort('time', !this.timeSort);
					}
				}
			});
			app.mount('#main_area');
			document.querySelector('#load').style.display = 'none';
			delete app;
		};
		init();
	</script>
	<div class="sticky navbar bg-base-100 bg-primary w-full top-0 z-30 bg-opacity-70 backdrop-blur"
		style="margin: 0 auto;">
		<div class="flex-1">
			<a class="btn btn-ghost normal-case text-xl">CSGO Item Price</a>
		</div>
		<div class="flex-none">
			<span class="tooltip tooltip-bottom before:text-xs before:content-[attr(data-tip)]" data-tip="Light/Night">
				<div class="flex-none items-center">
					<a aria-label="Night" onclick="toggleNight()" rel="noopener" class="btn btn-ghost drawer-button btn-square normal-case">
						<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-5 w-5 fill-current md:h-6 md:w-6">
							<defs>
								<path d="M0 0h24v24H0V0z" id="A"/>
								<clipPath id="B">
									<use xlink:href="#A"/>
								</clipPath>
							</defs>
							<path d="M0 0h24v24H0V0z" fill="#fff" fill-opacity="0" fill-rule="evenodd"/>
							<g clip-path="url(#B)">
								<path d="M12 2.008A7.01 7.01 0 0 0 5 9c0 2 .846 3.81 2.194 5.084a1.18 1.18 0 0 1 .329.603l1.233 5.552C8.985 21.264 9.903 22 10.953 22h2.094c1.05 0 1.968-.736 2.196-1.762l1.234-5.552v-.001a1.17 1.17 0 0 1 .328-.6v-.001h.001C18.155 12.81 19 11 19 9a7.01 7.01 0 0 0-7-6.992h0zm0 1.5c3.047.001 5.5 2.447 5.5 5.492a5.47 5.47 0 0 1-1.725 3.994c-.399.376-.65.861-.763 1.367L14.427 17H9.573l-.586-2.64a2.67 2.67 0 0 0-.763-1.366C7.162 11.99 6.5 10.578 6.5 9c0-3.045 2.453-5.491 5.5-5.492h0zM9.907 18.5h4.186l-.314 1.413c-.077.347-.377.587-.732.587h-2.094a.74.74 0 0 1-.732-.587L9.907 18.5h0z" fill-rule="evenodd"/>
							</g>
						</svg>
					</a>
				</div>
			</span>
			<span class="tooltip tooltip-bottom before:text-xs before:content-[attr(data-tip)]" data-tip="GitHub">
				<div class="flex-none items-center">
					<a aria-label="Github" target="_blank" href="https://github.com/sffxzzp/SteamIngamePrice" rel="noopener" class="btn btn-ghost drawer-button btn-square normal-case">
						<svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="inline-block h-5 w-5 fill-current md:h-6 md:w-6">
							<path d="M256,32C132.3,32,32,134.9,32,261.7c0,101.5,64.2,187.5,153.2,217.9a17.56,17.56,0,0,0,3.8.4c8.3,0,11.5-6.1,11.5-11.4,0-5.5-.2-19.9-.3-39.1a102.4,102.4,0,0,1-22.6,2.7c-43.1,0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1,1.4-14.1h.1c22.5,2,34.3,23.8,34.3,23.8,11.2,19.6,26.2,25.1,39.6,25.1a63,63,0,0,0,25.6-6c2-14.8,7.8-24.9,14.2-30.7-49.7-5.8-102-25.5-102-113.5,0-25.1,8.7-45.6,23-61.6-2.3-5.8-10-29.2,2.2-60.8a18.64,18.64,0,0,1,5-.5c8.1,0,26.4,3.1,56.6,24.1a208.21,208.21,0,0,1,112.2,0c30.2-21,48.5-24.1,56.6-24.1a18.64,18.64,0,0,1,5,.5c12.2,31.6,4.5,55,2.2,60.8,14.3,16.1,23,36.6,23,61.6,0,88.2-52.4,107.6-102.3,113.3,8,7.1,15.2,21.1,15.2,42.5,0,30.7-.3,55.5-.3,63,0,5.4,3.1,11.5,11.4,11.5a19.35,19.35,0,0,0,4-.4C415.9,449.2,480,363.1,480,261.7,480,134.9,379.7,32,256,32Z"></path>
						</svg>
					</a>
				</div>
			</span>
		</div>
	</div>
	<div id="main_area" class="flex">
		<div class="overflow-x-auto w-full" style="margin: 0 auto;">
			<table class="table table-compact w-full">
				<thead>
					<tr>
						<th @click="sortIndex" style="position: initial;">名称</th>
						<th @click="sortPrice">价格</th>
						<th @click="sortDef">DefIndex</th>
						<th @click="sortTime">日期</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in data">
						<td>
							<div class="flex items-center space-x-3">
								<div class="avatar">
									<div class="mask mask-squircle w-12 h-12">
										<img :src="`${item.image}`" alt="" />
									</div>
								</div>
								<div>
									<div class="font-bold">{{ item.name }}</div>
									<div class="text-sm opacity-50">{{ item.type }}</div>
								</div>
							</div>
						</td>
						<td>￥ {{ (item.prices.CNY / 100).toFixed(2) }}</td>
						<td>{{ item.defindex }}</td>
						<td>{{ item.date }}</td>
						<th>
							<label for="modal-detail" @click="updateModal(item)"
								class="btn btn-primary btn-xs">查看详情</label>
						</th>
					</tr>
				</tbody>
			</table>
		</div>
		<input type="checkbox" id="modal-detail" class="modal-toggle" />
		<label id="modal" for="modal-detail" class="modal cursor-pointer">
			<label class="modal-box relative" for="">
				<h3 class="font-bold text-lg">{{ modal.name }}</h3>
				<img :src="`${modal.image}`" style="width: 68px;" />
				<p class="py-4">
					ClassID: {{ modal.classid }}<br>
					DefIndex: {{ modal.defindex }}<br>
					日期: {{ modal.date }}<br>
					类型: {{ modal.type }}<br>
					描述: {{ modal.description }}<br>
				</p>
				<table class="table table-compact w-full">
					<thead>
						<tr>
							<th>货币</th>
							<th>价格</th>
							<th>转换后</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="rate in modal.prices_list">
							<td>
								{{ currencyStr[rate.currency] }}
							</td>
							<td>
								{{ (rate.original / 100).toFixed(2) }}
							</td>
							<td>
								￥ {{ (rate.transformed / 100).toFixed(2) }}
							</td>
						</tr>
					</tbody>
				</table>
			</label>
		</label>
	</div>
	<div id="load" class="hero min-h-screen bg-base-200" style="position: absolute; top: 0; left: 0; z-index: 9999;">
		<div class="hero-content text-center">
			<div class="max-w-md">
				<h1 class="text-5xl font-bold">加载中……</h1>
			</div>
		</div>
	</div>
</body>

</html>